* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.body {
  width: 100vw;
  height: 120vh;
  /* height: auto; */
  display: grid;
  grid-template-areas:
    "header"
    "section"
    "main"
    "footer";
  grid-template-rows: 10% 80% 100% 5%
}

.header {
  grid-area: header;
  background-color: rgb(9, 90, 141);
  display: flex;
  color: white;
}

.logo {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nombre {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.menu_movil {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_text {
  display: none;
}

.section {
  grid-area: section;
  display: flex;
  width: 100%;
  height: 95%;
  flex-wrap: wrap;
  align-content: flex-start;
  background-image: url(../img/la_cienega.JPG);
  background-size: cover;
  font-size: 2.5em;
  font-weight: bolder;
}

.texto {
  display: flex;
  font-size: 2.5rem;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.main {
  grid-area: main;
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
  background-color: darkgray;
}

.galeria {
  width: 100%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
}

.imagen {
  width: 50%;
  height: 50%;
  display: flex;
  background-size: cover;
  text-size-adjust: 75%;
  justify-content: center;
  align-items: flex-end;
  transition: all 0.7s ease-in;
}

.i1 {
  background-image: url(../img/bahia_cata.jpg);
}

.i2 {
  background-image: url(../img/bahia_inglesa.JPG);
}

.i3 {
  background-image: url(../img/la_portada.JPG);
}

.i4 {
  background-image: url(../img/cascada.JPG);
}

.descripcion {
  width: 100%;
  height: 8%;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  grid-area: footer;
  background-color: rgb(2, 54, 86);
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 1.5em;
  height: 100%;
}

.contacto {
  gap: 2px;
}

.i1:hover {
  transform: scale(1.5) translate(50px, 50px);
}

.i2:hover {
  transform: scale(1.5) translate(-50px, 50px);
}

.i3:hover {
  transform: scale(1.5) translate(50px, -50px);
}

.i4:hover {
  transform: scale(1.5) translate(-50px, -50px);
}

@media (min-width: 576px) {
  .body {
    display: grid;
    grid-template-areas:
      "header section"
      "header main"
      "header main"
      "footer footer";
    grid-template-rows: 50% 70% 10% 5%;
    grid-template-columns: 15% 85%;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

  }
  .menu_movil {
    display: none;
  }

  .logo {
    flex-basis: content;
  }

  .nombre {
    flex-basis: content;
    text-align: center;
  }

  .menu_text {
    display: flex;
    gap: 20px;
    font-size: 1.2em;
    color: white;
    flex-direction: column;
  }

  .imagen {
    filter: grayscale(100%);
  }
  .i1:hover {
    transform: scale(1.75) translate(50px, 50px);
    filter: grayscale(0%);
    z-index: 1;
  }

  .i2:hover {
    transform: scale(1.75) translate(-50px, 50px);
    filter: grayscale(0%);
    z-index: 1;
  }

  .i3:hover {
    transform: scale(1.75) translate(50px, -50px);
    filter: grayscale(0%);
    z-index: 1;
  }

  .i4:hover {
    transform: scale(1.75) translate(-50px, -50px);
    filter: grayscale(0%);
    z-index: 1;
  }

  .footer {
    font-size: 2rem;
  }
}
